.head{
	float:left;
	width:50%;
	
}
.add_{
	margin-top:35px;

	
}
#todoChange{

	text-align:center;
}
#data_{
	text-align:center;
}
#name_ {
	width: 250px;
	height:40px;
}
#desc_{
	
	width: 250px;
	height:40px;
	
}
#demo{
    border: 1;
    background-color: :pink;
}
